body {
  background: #ffffff;
}
.container {
  height: 300px;
  margin-top: 100px;
  width: 400px;
  background: #eeeeee;
  box-sizing: border-box;
  border-radius: 15px;
}

.form-control {
  width: 300px;
  position: relative;
  top: 30px;
  margin: auto;
}
label {
  position: relative;
  left: 160px;
}
.btn {
  position: relative;
  left: 40px;
  top: 30px;
  width: 300px;
}
img {
  height: 100px;
  width: 100px;
  position: relative;
  left: 130px;
  top: 20px;
}
